{% extends "base.html" %}{% load static %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="header mb-2">
      <h2 class='display-4 text-center pb-5' style='font-size:70px;'>
        Leistungsfähigkeitsprofil
      </h2>
      <ul>
        <a class="w-20 btn btn-secondary m-3" href="{% url 'technology-detail' tool.technology.id %}"><i
            class="fas fa-arrow-left"></i>
          Zurück</a>
        <form method="post">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <input class="w-20 btn btn-success mt-1" type="submit" value="Technologie hinzufügen">
        </form>
      </ul>
    </div>
  </div>
  {% endblock %}